.form {
  display: flex;
  gap: 1%;
}

.form .day,
.form .month,
.form .year {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form div label,
.form div input::placeholder {
  color: var(--font-color-primary);
}

.form div label {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.form div input {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
}

.form div input:hover,
.form div input:focus-visible {
  outline: 1px solid var(--font-color-secondary);
}

.error {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  color: var(--font-error-color) !important;
}

.error-border {
  border: 1px solid var(--font-error-color);
}
