.form {
  display: flex;
  flex-direction: column;
}

.form .inner-form {
  display: flex;
  gap: 1%;
}

.form .inner-form .day,
.form .inner-form .month,
.form .inner-form .year {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form .inner-form div label,
.form .inner-form div input::placeholder {
  color: var(--font-color-primary);
}

.form .inner-form div label {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.form .inner-form div input {
  border: none;

  border: 1px solid var(--border-color-secondary);
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
}

.form .inner-form div input:hover,
.form .inner-form div input:focus-visible {
  outline: 1px solid var(--font-color-secondary);
}

.form .submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form .submit button {
  background: none;
  border: none;
}

.form .submit button img {
  cursor: pointer;
  padding: 20px;
  background-color: var(--font-color-secondary);
  border-radius: 50%;
}

.form .submit button img:hover {
  background-color: var(--font-color-tertiary);
}

.form .submit hr {
  border: none;
  background-color: var(--border-color-secondary);
  width: 100%;
  height: 3px;
}

.error {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  color: var(--font-error-color) !important;
}

.error-border {
  border: 1px solid var(--font-error-color);
}
