.output {
  display: flex;
  flex-direction: column;
}
.output .bottom {
  font-family: PoppinsBold, Arial, Helvetica, sans-serif;
  font-size: 8rem;
}

.output .bottom .output-var-color {
  color: var(--font-color-secondary);
}
